<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>L'Architects</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="jquery/dist/jquery.min.js"></script>

        <style>

        </style>

    </head>
    <body id="page-top" >
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand page-scroll" href="#page-top"><img src="assets/img/logos/LarchitectsW.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link page-scroll" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#portfolio">Projects</a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#team">About</a></li>
                        <li class="nav-item"><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="mt-auto" id="arrowElement">
                    <a class="nav-link page-scroll"href="#services">
                        <i class="fa-solid fa-angle-down fa-bounce fa-2xl" style="font-size: 6em; color: rgba(255, 255, 255, 0.3);" ></i>
                    </a>
                </div>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase fw-normal">Services</h2>
                </div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <h4 class="my-3 fw-normal">URBAN</h4>
                    </div>
                    <div class="col-md-3">
                        <h4 class="my-3 fw-normal">ARCHITECTURE</h4>
                    </div>
                    <div class="col-md-3">
                        <h4 class="my-3 fw-normal">INTERIOR</h4>
                    </div>
                    <div class="col-md-3">
                        <h4 class="my-3 fw-normal">INFRASTRUCTURE</h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section" id="portfolio">
            
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase fw-normal">Projects</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Kindergarten</div>
                                    </div>
                                </div>
                                <img class="img-fluid " style="width: 100%;" src="assets/img/portfolio/projects/project_1/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Showroom "Nuka"</div>
                                    </div>
                                </div>
                                <img class="img-fluid " style="width: 100%;" src="assets/img/portfolio/projects/project_2/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">House NP</div>
                                    </div>
                                </div>
                                <img class="img-fluid " style="width: 100%;" src="assets/img/portfolio/projects/project_3/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">"Agroproduct" Hall</div>
                                    </div>
                                 </div>
                                <img class="img-fluid " style="width: 100%;" src="assets/img/portfolio/projects/project_4/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Wellness & SPA Center</div>
                                    </div>
                                </div>
                                <img class="img-fluid " style="width: 100%;" src="assets/img/portfolio/projects/project_5/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">"ArtaTex" Factory</div>
                                    </div>
                                </div>
                                <img class="img-fluid " src="assets/img/portfolio/projects/project_6/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_7">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Orl Hospital</div>
                                    </div>                                </div>
                                <img class="img-fluid " src="assets/img/portfolio/projects/project_7/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_8">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Dwelling, Garage & Business Building</div>
                                    </div>
                                </div>
                                <img class="img-fluid " src="assets/img/portfolio/projects/project_8/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_9">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Sports Hall</div>
                                    </div>
                                </div>
                                <img class="img-fluid " src="assets/img/portfolio/projects/project_9/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 collapse collapsible" id="scrollTo1">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_10">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Primary School, 20 Classrooms</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_10/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0 collapse collapsible">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_11">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center; ">Footbridge over M9</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_11/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_12">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Restaurant | Interior</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_12/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_13">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Urban Regulation Plan</div>
                                        <div style="text-align: center;">Informal Settlement "Ali Ibra"</div>
                                    </div>
                                </div>
                                <img class="img-fluid " src="assets/img/portfolio/projects/project_13/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 collapse collapsible" id="scrollTo1">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_14">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Sports Hall</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_14/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0 collapse collapsible">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_15">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Pediatric Clinic | Interior</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_15/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_16">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Underpass | City Center</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_16/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_17">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Administrative Building</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_17/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0 collapse collapsible2" id="scrollTo2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_18">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Administrative Building</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_18/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_19">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Secondary School | 20 Classrooms</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_19/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_20">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Elementary School | 18 Classrooms</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_20/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_24">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Elementary School | 16 Classrooms</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_24/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_21">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Trade & Distribution Building</div>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_21/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_22">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Footbridge over M2</div>

                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_22/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 collapse collapsible2">
                        <div class="portfolio-item">
                            <a class="portfolio-link" style="cursor: pointer;" href="/project?id=project_23">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <div style="text-align: center;">Dwelling, Garage, Business Campus</div>
                                    </div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/projects/project_23/1.png" alt="..." />
                            </a>
                        </div>
                    </div>
                </div>
                <a class="btn btn-outline-secondary text-uppercase" id="toggleButton" type="button" data-bs-toggle="collapse" data-bs-target=".collapsible" aria-expanded="false" aria-controls="collapseExample" onclick="toggleMore()">MORE</a>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase fw-normal">About</h2>
                    <p class="section-subheading text-muted">L‘Architecture is a progressive design office practice based in Bremen, specializing in urban design, architecture, interior design and infrastructure buildings, founded in 2023.</p>
                    <p class="section-subheading text-muted">We aim to create “Living spaces” or built environments that enrich life. Understanding the needs of the community is the basis for the lasting success of a project and the creation of relevant and impactful solutions that drive positive social changes. As architects, we have a responsibility to shape the built environment and its impact on the natural systems that support life. It requires innovative and regenerative design solutions aimed at achieving carbon neutrality to begin the process of repairing the world we live in.</p>
                    <p class="section-subheading text-muted" style="padding-bottom: 25px;">L‘Architecture offers a fresh and dynamic approach to Architectural interventions in our design with a variety of diverse projects ranging from Education Architecture, Public Architecture, Sports Architecture, Commercial & Office, Residental Architecture, Healthcare Architecture and Refurbishment Designs.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 teamElement" >
                        <div class="team-member">
                            <img class="rounded-circle" src="assets/img/team/teamMember.jpg" alt="..." />
                            <h4 class="fw-normal">Shkumbin Hulaj</h4>
                            <p class="text-muted fw-normal" id="customElement1">Founder</p>
                            <p class="text-muted">DI Architect</p>
                            <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/shkumbin-hulaj-85931a62/" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section bg-dark" id="contact">
            <div class="container">
                <div class="text-center">

                    <h2 class="section-heading text-uppercase fw-normal pb-5 text-white">Contact Us</h2>
                    <p class="fw-normal text-white">Neuenlander Straße 54</p>
                    <p class="fw-normal text-white">28201, Bremen </p>
                    <p class="fw-normal text-white">Germany</p>
                    <p class="fw-normal text-white">Mob.: +4915257177025</p>
                    <p class="fw-normal text-white">E-mail: info@larchitects.de</p>
                </div>
            </div>
            
        </section>
        <!-- Footer-->
        <footer class="footer py-4 bg-dark">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start text-white">Copyright &copy; L'Architects 2023</div>

                    <div class="col-lg-4 my-3 my-lg-0">
                        <!--<a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/shkumbin-hulaj-85931a62/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>-->
                    </div>
                    <!--
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                    -->
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="js/landing.js"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    </body>
</html>